
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>
        const city = ["Indore", "Jaipur", "Agra", "Mumbai", "Pune"];
        alert("Number of cities : " + city.length);
        for (i = 0; i < city.length ; i++) {
            var a = ("City " + (i + 1) + " : " + city[i])
            alert(a);
        }
    </script>
</body>

</html>