<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3 id="result"></h3>
    <script>
        function display(result) {
            document.getElementById("result").innerHTML = result;
        }
        let promise = new Promise(function (resolve, reject) {
            let a = prompt("Enter String : ");
            if (isNaN(a) && typeof a == "string") {
                let reverse = [];
                reverse = a.split("");
                reverse = reverse.reverse();
                reverse = reverse.join("");
                resolve(reverse);
            }
            else {
                reject("Not a String Type");
            }
        })
        setTimeout(function () {
            promise.then(
                function (value) {
                    display(value);
                },
                function (error) {
                    display(error);
                }
            )
        }, 500)
    </script>

</body>

</html>