<div class="container row">

    <div class="col-2 text-center">

        <ul class="nav flex-column ">

            <li class="nav-item h4  ">
                <a class="nav-link" [routerLink]="['/javascriptday3assignment']" routerLinkActive="router-link-active"  >Assignment</a>
            </li>       
            <li class="nav-item h4  ">
                <a class="nav-link" [routerLink]="['/javascriptday3practice']" routerLinkActive="router-link-active"  >Practice</a>
            </li>       
            <li>
                <button data-text="Awesome" class="button" (click)="onclick()">
                    <span class="actual-text">&nbsp;Back&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Back&nbsp;</span>
                </button>
                          </li>
        </ul>
    </div>
    <div class="col ">
        <router-outlet></router-outlet>
    </div>
</div>