<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Card</title>
</head>
<style>
    table, th, td {
        
  border: 1px solid black;
  width: 30%;
 
}
</style>
<body>
    <div>
        <table>
            <caption>Report card</caption>
            <th colspan="2">
                STUDENT PRPORT CARD
            </th>
            <tr>
                <td>
                    Student Name :
                </td>
                <td>
                    Rounak Koushal

                </td>
            </tr>
            <tr>
                <td>
                    Roll no.:
                </td>
                <td>
                    12345
                </td>
            </tr>
            <tr>    
                <td>
                    Year of Passing:
               </td>
               <td>
                2023
               </td>
            </tr>
            <tr>
                <th scope="col" colspan="2">
                SUBJECTS
                </th>
            </tr>
            <tr>
                <td>
                    Physice :
                </td>
                <td>
                    B+
                </td>                
            </tr>
            <tr>
                <td>
                    Chemistry :
                </td>
                <td>
                    B
                </td>
            </tr>
            <tr>
                <td>
                    Maths :
                </td>
                <td>
                    A
                </td>
            </tr>

        </table>
    </div>
    
</body>
</html>