<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice 3</title>
</head>
<style>
    *{
        color: white;
        background-color: blue;
    }
    ul li{
        text-decoration: none;
        display: inline;
        
    }
</style>
<body>
    <ul>
        <li>Indore</li>
        <li>Jaipur</li>
        <li>Mumbai</li>
        <li>Pune</li>
    </ul>
    <h1>Heading1v &nbsp;</h1>
    <h2>Sub Heading&nbsp;</h2>
    <h1>Heading&nbsp;</h1>
    <h2>Sub Heading</h2>    
</body>
</html>