<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dot net</h2>
    <ul>
        <li>Manager 
            <ol>
                <li>Developer X</li>
                <li>Developer Y</li>
            </ol>
        </li>
        

    </ul>
    <h2>php</h2>
    <ul>
        <li>
            Manager
            <ol>
                <li>Developer X</li>
                <li>Developer Y</li>
            </ol>
        </li>
    </ul>
    
</body>
</html>