@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;;
}
.container{
    height: 100vh;
    width: 100vw;
}
.head{
 background-color:  #EEEEF0;
    display: flex;
    height: 4vh;
    justify-content: center;
}
.container1{
    display: flex;
    width: 80vw;
    height: 4vh;
    justify-content: space-between;    
}
.container2{
    display: flex;
    height: 8vh;
    width: 100vw;
    justify-content: center;
}
.upper{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.container3{
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: center;
}
.lower{
    display: flex;
    width: 86vw;
}

.lower ul li{
    display: inline;
    text-decoration: none;
    margin: 0rem 28px;
    
}

.container4{
    background-color: #EEEEF0;
    display: flex;
    height: 30vh;
    justify-content: center;
}
.container4_content{
    display: flex;
    width: 80vw;
}
.headline{
    width: 40rem;
}
.headline a{
    text-decoration: none;
    position: relative;
    top: 2rem;
    background-color: rgb(248, 144, 7);
    padding: 1rem 2rem;
    color: white;
    font-weight: 800;
    border-radius: 13px;
}
.container5{
    display: flex;
    background-color: #209BDE;
    height: 20vh;
    justify-content: center;
}
.test{
    width: 40vw;
}
.designitnow{
    width: 40vw;
}
.container6{
    display: flex;
    background-color: #EEEEF0;
    height: 30vh;
    width: 100vw;
    justify-content: center;
}
.container6_content{
    display: flex;
    width: 80vw;
}
.video{
    width: 40vw;
    margin: 2rem 3rem;

}
.text{
    width: 40vw;
    margin: 2rem 0rem;

}
.container7{
    display: flex;
    height: 40vh;
    width: 100vw;
    margin: 3rem 0rem;
    justify-content: center;
}
.container7_content{
    display: flex;
    width: 80vw;
}
.container8 {
    display: flex;
    height: 6vh;
    width: 100vw;
    justify-content: center;
}
.project p{
    width: 23rem;
}
.project img{
    width: 21vw;
}

.container8 a{
    text-decoration: none;
    background-color: rgb(248, 144, 7);
    padding: 10px 1rem;
    font-size: 20px;
    color: white;
    font-weight: 800;
}
.headline2{
    width: 40vw;
    padding: 3rem 0rem;
}
.headline2 form input{
    margin: 8px 18px;
    border-radius: 10px;
}
#message{
    width: 362px;
    height: 55px
}
#message::placeholder{
    margin-top: 0;
}
.headline2 form a{
    text-decoration: none;
    background-color: rgb(248, 144, 7);
    padding: 6px 10rem;
    font-size: 20px;
    color: white;
    font-weight: 800;
    position: relative;
    top: 1rem;
    left: 1rem;
    border-radius: 12px;
}
.dif{
    text-decoration: none;
    background-color: rgb(248, 144, 7);
    padding: 10px 1rem;
    font-size: 20px;
    color: white;
    font-weight: 800;
}
.text a{
    position: relative;
    top: 1rem;    
    text-decoration: none;
    background-color: rgb(248, 144, 7);
    padding: 5px 1rem;
    font-size: 20px;
    color: white;
    font-weight: 800;
}
.designitnow a{
    text-decoration: none;
    position: relative;
    top: 6rem;
    background-color: white;
    padding: 1rem 2rem;
    color: rgb(59, 173, 218);
    font-weight: 800;
}
.container9 {
    display: flex;
    background-color: #959595;
    height: 27vh;
    width: 100vw;
    justify-content: center;
}
.details ul li{
    list-style: none;
}
.details{
    width: 10vw;
}
.container10 {
    display: flex;
    background-color: #707070;
    height: 5vh;
    width: 100vw;
    justify-content: center;
}


