<div class="container">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Page</title>
</head>
<body>    
    <div class="container">
        <div class="head">
            <div class="container1">
                <div>  
                    <em class="fa-regular fa-cart-shopping"></em>            
                    <h3>shopping cart</h3>
                </div>
                <div>
                    <h3>Sign In/Register</h3>
                </div>
            </div>
        </div>
        <div class="container2">
            
                <div class="upper">
                    <div class="image">
                        <img src="images\files1676030625964-logo.png" alt="logo">
                    </div>
                    <div class="contact">
                        <h2>512-219-8000</h2>
                    </div>
                </div>             
            
        </div>
        <div class="container3">
            <div class="lower">
                
                    <ul>
                        <li>Yard Signs</li>
                        <li>Banners</li>
                        <li>Acceseries</li>
                        <li>Gallery</li>
                        <li>About</li>
                        <li>Price</li>
                        <li>Materials</li>
                        <li>FAQ</li>
                        <li class="dif">Customer Quotes</li>
                    </ul>
                
            </div>
        </div>
        <div class="container4">
            <div class="container4_content">
                <div class="headline">
                    <h1>Big Headline</h1>
                    <h2>Smaller Subhead Here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius minima, voluptatibus et consequuntur reprehenderit nesciunt laboriosam vitae nobis. Fuga nihil delectus quia distinctio adipisci atque, quo tenetur sit voluptates ducimus eos ad ipsam. A.</p>
                    <a href="#">Get Started</a>
                </div>
                <div class="headline2">
                    <form action="">
                        <label for="fname"></label>
                        <input type="text" id="fname" name="fname" placeholder="First Name:">
                        <label for="lname"></label>
                        <input type="text" id="lname" name="lname" placeholder="Last Name:"><br>
                        <label for="email"></label>
                        <input type="text" id="email" name="email" placeholder="Email:">
                        <label for="mno"></label>
                        <input type="number" id="mno" name="mno" placeholder="Mobile Number:"><br>
                        <label for="message"></label>
                        <input type="text" id="message" name="message" placeholder="Message:"><br>
                        <a href="#">send</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="container5">
            <div class="test">
                <h2>This is where Awesome Title Goes</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime architecto dolor, explicabo iusto delectus quisquam? Molestiae, ab fugit enim dolores reiciendis debitis minus provident animi repellendus facere quibusdam tenetur consequuntur asperiores repellat delectus, tempora nam!
                </p>                    
            </div>
            <div class="designitnow">
                <a href="#">Design it Now</a>
            </div>
        </div>
        <div class="container6">
            <div class="container6_content">
                <div class="video">
                    <video width="400" controls>
                        <source src="images\files1676030611766-img.jpg" type="video/mp4">
                      </video>
                </div>                
                <div class="text">
                    <h1>Watch This</h1>
                    <h2>It's a video, yo!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Totam cupiditate assumenda
                         amet voluptate illum tenetur hic tempora 
                         fuga porro dolorum possimus voluptatibus!</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="container7">
            <div class="container7_content">
                <div class="project">
                    <img src="images\project1.png" alt="Image Not Found">
                    <h2>Project One</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
                         obcaecati asperiores aspernatur illo aliquam harum laudantium 
                         quaerat omnis? Harum perspiciatis impedit molestias praesentium
                    </p>
                </div>
                <div class="project">
                    <img src="images\project2.png" alt="Image Not Found">
                    <h2>Project Two</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
                        obcaecati asperiores aspernatur illo aliquam harum laudantium 
                        quaerat omnis? Harum perspiciatis impedit molestias praesentium
                   </p>  
                </div>
                <div class="project">
                    <img src="images\project3.png" alt="Image Not Found">
                    <h2>Project Three</h2>                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
                        obcaecati asperiores aspernatur illo aliquam harum laudantium 
                        quaerat omnis? Harum perspiciatis impedit molestias praesentium
                   </p>
                </div>
            </div>
        </div>
        <div class="container8">
            <a href="#">Learn More</a>
        </div>
        <div class="container9">
            <div class="details">
                <ul>
                    <li><h3>Help</h3></li>
                    <li>Contact Us</li>
                    <li>F.A.Q</li>
                    <li>Sitemap</li>
                    <li>Pricing</li>
                    <li>Redeem Promo</li>
                    <li><br></li>
                    <li><h3>Account</h3></li>
                    <li>My Account</li>
                </ul>
            </div>                
            <div class="details">
                <ul>
                    <li><h3>Products</h3></li>
                    <li>Yard Signs</li>
                    <li>Real Estate Signs</li>
                    <li>Vinayl Banners</li>
                    <li>Car Magnetics</li>
                    <li>Banner Stand</li>
                    <li>Accessories</li>
                    <li>Design Services</li>
                </ul>
            </div>
            <div class="details">
                <ul>
                    <li><h3>Company</h3></li>
                    <li>Overview</li>
                    <li>Press Room</li>
                    <li>careers</li>
                    <li>Reviews</li>
                    <li><br></li>
                    <li><h3>Programs</h3></li>
                    <li>Affiliate</li>
                </ul>
            </div>
            <div class="details">
                <ul>
                    <li><h3>Help</h3></li>
                    <li>Contact Us</li>
                    <li>F.A.Q</li>
                    <li>Sitemap</li>
                    <li>Pricing</li>
                    <li>Redeem Promo</li>
                    <li><br></li>
                    <li><h3>Account</h3></li>
                    <li>My Account</li>
                </ul>
            </div>                
            <div class="details">
                <ul>
                    <li><h3>Products</h3></li>
                    <li>Yard Signs</li>
                    <li>Real Estate Signs</li>
                    <li>Vinayl Banners</li>
                    <li>Car Magnetics</li>
                    <li>Banner Stand</li>
                    <li>Accessories</li>
                    <li>Design Services</li>
                </ul>
            </div>
            <div class="details">
                <ul>
                    <li><h3>Company</h3></li>
                    <li>Overview</li>
                    <li>Press Room</li>
                    <li>careers</li>
                    <li>Reviews</li>
                    <li><br></li>
                    <li><h3>Programs</h3></li>
                    <li>Affiliate</li>
                </ul>
            </div> 
        </div>
        <div class="container10">
            <footer class="flex-all-center">
                <p>Copyright &copy; 2016 SignDepotATX.com</p>
            </footer>
        
        </div>
    </div>    
        
</body>
</html>
</div>