<div class="container">
    <form [formGroup]="EmployeeForm">
        <div class="mb-3 col-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="fullName" name="fullName" id=""
                aria-describedby="helpId" placeholder="">
            <div class="">
                <span style="color: red;"
                    *ngIf="EmployeeForm.get('fullName').value && EmployeeForm.get('fullName').touched">
                    Enter valid Name</span>
            </div>
        </div>
        <div class="mb-3 col-3">
            <label for="" class="form-label">email</label>
            <input type="text" class="form-control" formControlName="email" name="email" id="" aria-describedby="helpId"
                placeholder="" [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }">
            <div style="color: red;" *ngIf="email?.errors && email?.touched">
                <div *ngIf="email.errors['required']">Email is required.</div>
                <div *ngIf="email.errors['email']">Please enter a valid email.</div>
            </div>
        </div>

        <div class="mb-3 col-2">
            <label for="">Gender</label>
            <div class="form-check" *ngFor="let gender of gender">
                <label class="form-check-label" for="">
                    <input class="form-check-input" type="radio" [value]="gender" formControlName="gender" id="">
                    {{gender}}
                </label>
            </div>
        </div>

        <div class="mb-3 col-2">
            <label for="" class="form-label">Date Of Joining</label>
            <input type="date" class="form-control" formControlName="dateOfJoining" name="dateOfJoining"
                aria-describedby="helpId" placeholder="" [ngClass]="{ 'is-invalid': dateOfJoining?.invalid && dateOfJoining?.touched }">
            <div class="">
                <span style="color: red;"
                    *ngIf="!dateOfJoining.value && dateOfJoining.touched">
                    Enter valid Date</span>
            </div>
        </div>
    </form>
</div>