<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        var string = prompt("Enter string :");
        blankOrNot(string);
        function blankOrNot(string) {
            if (string.length == 0) {
                alert("String is blank");
            }
            else {
                alert("String is not blank");
            }
        }
    </script>
</body>

</html>