<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Application Layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src='main.js'></script>
</head>

<body>
    <header>    
        <div>
            <div>
                <ul class="topnav">
                    <li class="nav"><a class="active" href="#home">Home</a></li>
                    <li class="nav"><a href="#contact">Contact Us</a></li>
                    <li class="dropdown"><a href="#about" class="drop">About Us</a>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </li>
                    <li class="right"><img src="" alt="Image not found" style="width:50px;height:44px;">
                    </li>
                </ul>
            </div>
            <div id="sb">
                <ul class="sidebar">
                    <li><a href="">OVERVIEW</a></li>
                    <li><a href="">PERFORMANCE</a></li>
                    <li><a href="">MOVEMENT</a></li>
                    <li><a href="">CARRER</a></li>

                </ul>
            </div>
        </div>
    </header>

    <div>
        <div class="">
            <p>
            <h3 style="background-color: #4CAF50;color: aliceblue;">Software Development Outsourcing</h3>
            <h4>Masters of Digital Transformation driving tech revolutions for enterprises</h4>
            <!-- </p> -->
            <p>
                A specialized team with exquisite skill sets and a knack for precision, adept at developing
                cost-effective, enterprise-grade and end-to-end Software Development Outsourcing solutions </p>
            <p>
                <a href="">Read more</a>
            </p>
        </div>
        <div class="">
            <p>
            <h3 style="background-color: #4CAF50;color: aliceblue;">Custom Software Development Services</h3>
            <h4>Utilizing modern technologies and industry best practices to build scalable custom software</h4>
            <!-- </p> -->
            <p>
                Custom software development services from Radixweb will help you build customized software with
                feature-rich products and advanced solutions for web, mobile, and desktop
            </p>
            <p>
                <a href="">Read more</a>
            </p>
        </div>
        <div class="">
            <p>
            <h3 style="background-color: #4CAF50;color: aliceblue;">Software Product Development</h3>
            <h4>Bring your software vision to life by incorporating the latest technologies</h4>
            <!-- </p> -->
            <p>
                Seize the opportunity to make your idea smarter. We shape technology to add extensive value to your
                business
            </p>
            <p>
                <a href="">Read more</a>
            </p>
        </div>
    </div>

    <footer>
        <div class="foot">
            <div>
                <ul class="footer">
                    <li class="active">biz@radixweb.in</li>
                    <li><a href="">resumes@radixweb.com</a></li>
                    <li>Sales +1 312 528 3083</li>
                    <li>Careers +91-79-35200685</li>
                </ul>
                <ul class="footer">
                    <li class="active">Quick Links</li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Industries</a></li>
                    <li><a href="">Solutions</a></li>
                    <!-- <li><a href="">Insights</a></li> -->
                </ul>

                <ul class="footer">
                    <li class="active">Locations</li>
                    <li><a href="">India, Ahemdabad</a></li>
                    <li><a href="">United states, California</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>