<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Qureys</title>
</head>
<style>
    .main p{
        border: 2px solid blue;
    }
    @media screen and (max-width: 500px) {
        .main p{
        border: 2px solid red;
    }   
        
    }
</style>
<body>
    <div class="main">
        <h1>You have one h1 </h1>
        <p>one paragraph in your page with blue color border</p>
    </div>
</body>
</html>