<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <script>

    //Hoisting is JavaScript's default behavior of moving declarations to the top.

    console.log(product); //product is not defined
    var product = "milk";

    var total = price * quantity;
    var price = 23;
    var quantity = 3;
    console.log(total); //price & quantity declaired later which show total is NaN

    showProduct();
    function showProduct() {
      console.log("showing a product");
    }

    showProduct();
    var showProduct = function () {
      console.log("showing a product");
    }

    var showProduct = function () {
      console.log("showing a product");
    }
    showProduct();


    x = 5; // Assign 5 to x
    console.log(x);   // Display x in the element
    var x; // Declare x


    var x; // Declare x
    x = 5; // Assign 5 to x
    console.log(x);  // Display x in the element

  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>