<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2>var</h2>
    <h3>The var statement is used to declare a variable in JavaScript. A variable declared with the var keyword is
        defined throughout the program.</h3>
    <P>
        var a = "Rounak"; <br>
        console.log(a); //Rounak<br>
        <br>
        var a = "Nihal";<br>
        console.log(a); //Nihal<br>
        <br>
        console.log(a); //Nihal<br>
        <br>

    </P>
    <h2>let</h2>
    <h3>The let statement is used to declare a local variable in TypeScript. It is similar to the var keyword, but it
        has some restriction in scoping in comparison of the var keyword. The let keyword can enhance our code
        readability and decreases the chance of programming error. A variable declared with the let keyword is limited
        to the block-scoped only.</h3>
    <p>
        let b ="come";<br>
        <br>
        let b ="Go";<br>
        console.log(b); // Go<br>
        <br>
        console.log(b); //come<br>
    </p>

    <script>

        //var Keyword
        var a = "Rounak";
        console.log(a);
        {
            var a = "Nihal";
            console.log(a);
        }
        console.log(a);


        //let Keyword
        let b = "come";
        {
            let b = "Go";
            console.log(b);
        }
        console.log(b);

    </script>
</body>

</html>