<div class="container row">

    <div class="col-2 text-center">

        <ul class="nav flex-column ">

            <li class="nav-item h4  ">
                <a class="nav-link" [routerLink]="['/javascriptday1']" routerLinkActive="router-link-active"  >Day 1</a>
            </li>       
            <li class="nav-item h4  ">
                <a class="nav-link" [routerLink]="['/javascriptday3']" routerLinkActive="router-link-active"  >Day 3</a>
            </li>       
            <li class="nav-item h4  ">
                <a class="nav-link" [routerLink]="['/javascriptday5']" routerLinkActive="router-link-active"  >Day 5</a>
            </li>       

        </ul>
    </div>
    <div class="col ">
        <router-outlet></router-outlet>
    </div>
</div>