<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label for="">Enter number :</label>
    <input type="num" id="num"><br><br>
    <button type="button" onclick="square()">Click Me</button>
    <a href="index.html"><button type="button">Reset</button></a>

    <p id="result"></p>
    <script>
        function callBack(argument) {
            document.getElementById("result").innerHTML = ("Square is : ") + argument;
        }
        function square() {
            let a = document.getElementById("num").value;
            if (isNaN(a)) {
                document.getElementById("result").innerHTML = ("You Entered ' " + a + " '...! \nThis is not a valid number");
            }
            else {
                callBack(Math.pow(a, 2));
            }
        }
    </script>
</body>

</html>