<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class="m-5 p-2 border border-danger border-5 rounded">
    <h1 class="display-4 text-center p-1">University of Mumbai<span class="badge bg-primary">Maharashtra</span></h1>
    <h2 class=" text-center p-1">Please check whether you have got the right question paper<span
            class="p-1 badge bg-primary">Good Luck</span></h2>
    <div class="p-4">
        <h3 class="text-end">Max. Marks<span class="badge bg-success m-3">100</span></h3>
        <h3 class="text-left">Current Time<span id="mytime" class="badge bg-success m-3"></span></h3>
        <h3 class="text-end">Min. Exam Time<span class="badge bg-warning m-3">3 hr</span></h3>
        <h3 class="text-left">Time Left<span id="lefttime" class="badge bg-success m-3"></span></h3>
        <h3 class="text-end">Exam Timing<span class="badge bg-warning m-3">10:00 AM</span></h3>
        <hr>
        <p class="display-6">Q1. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum facere ea voluptatum
            deleniti sint animi enim quas voluptates pariatur repellat?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME" id="" value="{option1}">
            <label class="form-check-label" for="">First</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME" id="" value="{option2}">
            <label class="form-check-label" for="">Second</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME" id="" value="{option3}">
            <label class="form-check-label" for="">Third</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME" id="" value="{option4}">
            <label class="form-check-label" for="">Forth</label>
        </div>
        <hr>
        <p class="display-6">Q2. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum facere ea voluptatum
            deleniti sint animi enim quas voluptates pariatur repellat?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME2" id="" value="{option1}">
            <label class="form-check-label" for="">First</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME2" id="" value="{option2}">
            <label class="form-check-label" for="">Second</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME2" id="" value="{option3}">
            <label class="form-check-label" for="">Third</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME2" id="" value="{option4}">
            <label class="form-check-label" for="">Forth</label>
        </div>
        <hr>
        <p class="display-6">Q3. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum facere ea voluptatum
            deleniti sint animi enim quas voluptates pariatur repellat?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME3" id="" value="{option1}">
            <label class="form-check-label" for="">First</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME3" id="" value="{option2}">
            <label class="form-check-label" for="">Second</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME3" id="" value="{option3}">
            <label class="form-check-label" for="">Third</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME3" id="" value="{option4}">
            <label class="form-check-label" for="">Forth</label>
        </div>
        <hr>
        <p class="display-6">Q4. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum facere ea voluptatum
            deleniti sint animi enim quas voluptates pariatur repellat?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME4" id="" value="{option1}">
            <label class="form-check-label" for="">First</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME4" id="" value="{option2}">
            <label class="form-check-label" for="">Second</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME4" id="" value="{option3}">
            <label class="form-check-label" for="">Third</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME4" id="" value="{option4}">
            <label class="form-check-label" for="">Forth</label>
        </div>
        <hr>
        <p class="display-6">Q5. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum facere ea voluptatum
            deleniti sint animi enim quas voluptates pariatur repellat?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME5" id="" value="{option1}">
            <label class="form-check-label" for="">First</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME5" id="" value="{option2}">
            <label class="form-check-label" for="">Second</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME5" id="" value="{option3}">
            <label class="form-check-label" for="">Third</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="NAME5" id="" value="{option4}">
            <label class="form-check-label" for="">Forth</label>
        </div>
    </div>
    <script>

        setInterval(mytime, 1000);

        function mytime() {
            const a = new Date();
            document.getElementById("mytime").innerHTML = a.toLocaleTimeString();
        }

        var t = "3 Hours Left";
        document.getElementById("lefttime").innerHTML = (t);


        setTimeout(lefttime2, 3600000);

        function lefttime2() {
            document.getElementById("lefttime").innerHTML = ("2 Hours Left");
        }

        setTimeout(lefttime3, 7200000);

        function lefttime3() {
            document.getElementById("lefttime").innerHTML = ("1 Hour Left");
            document.getElementById("lefttime").style = "color:red;";
        }


        let c = setTimeout(function () {
            alert("Exam Over");
            document.write("Thanks for appearing in Exam")
        }, 10800000);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>