<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
        * {
            font-family: "Lucida Sans", sans-serif;
        }
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .menu li {
            display: inline-block;
            padding: 8px;
            margin-bottom: 7px;
            background-color: #a6f18f;
            color: #ffffff;
        }
    </style>

    <body>
        <div class="menu">
            <ul>
                <li>My Profile</li>
                <li>My Qualification</li>
                <li>My skills</li>
                <li>My Teams</li>
                <li>My Allocation</li>
            </ul>
        </div>
    </body>
</html>