<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="currentUser ? ['/dashboard'] : ['/login']" >Advance</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="currentUser">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employee/employeeList']" routerLinkActive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/department/departmentList']" routerLinkActive="active">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rxjs-library/higher-order-observables']" routerLinkActive="active">RxJS
            Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngrx-state-management/actions']" routerLinkActive="active">NgRx State</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/angular-advance-mcq']" routerLinkActive="active">Angular MCQ Test</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Forms
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/forms/dynamicForm']" routerLinkActive="active">Dynamic Form</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/forms/reactiveForm']" routerLinkActive="active">Reactive
                Form</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" *ngIf="currentUser">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['/admin-dashboard']" routerLinkActive="active">Admin</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ currentUser.name }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>