<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <div class="left">
            <img src="images\face2.jpg.png" alt="Image Not Found">
        </div>
        <div class="right">
            <ul>
                <li>
                    <h1>ROUNAK KOUSHAL </h1>
                </li>
                <li>
                    <h3>Contact:-</h3>
                </li>
                <li>
                    <h3>Mail:-rouankkoushal01@gmail.com</h3>
                </li>
                <li>
                    <h3>Linkedin:- <a href="">rounak's linkedin</a></h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#OBJECTIVE">OBJECTIVE</a></li>
                <li><a href="#EDUCATION">EDUCATION</a></li>
                <li><a href="#SKILLS">SKILLS</a></li>
                <li><a href="#PERSONAL">PERSONAL SKILLS</a></li>
                <li><a href="#PROJECTIS">PROJECTS</a></li>
                <li><a href="#DECLARATION">DECLARATION</a></li>

            </ul>
        </div>
        <div class="main">
            <div class="data" id="OBJECTIVE">
                <p>Software development and education in math and science,
                    I bring skills like knowledge of development principles
                    and strong communication to the role of computer engineer</p>

            </div>
            <div class="data" id="EDUCATION">
                <ul>
                    <li>10th CBSE</li>
                    <LI>12th CBSE</LI>
                    <LI>B.TECH IIST</LI>
                </ul>
            </div>
            <div class="data" id="SKILLS">
                <ul>
                    <li>C</li>
                    <li>C++</li>
                    <li>JAVA</li>
                    <li>PYTHON</li>
                    <li>HTML</li>
                </ul>
            </div>
            <div class="data" id="PERSONAL">
                <ul>
                    <li>CRICKET</li>
                    <LI>CHESS</LI>
                    <LI>GRDENING</LI>
                    <LI>RIDING</LI>
                </ul>
            </div>
            <div class="data" id="PROJECTIS">
                <h3>- Digidocs</h3>
                <h2>Minor Project : DigiLocker  Clone</h2>
                <h2>Domain :Web Development</h2>
                <h2>Technology used : HTML, CSS, JAVASCRIPT</h2>
               
                <h3>- Digidocs</h3>
                <h2>Minor Project : DigiLocker  Clone</h2>
                <h2>Domain :Web Development</h2>
                <h2>Technology used : HTML, CSS, JAVASCRIPT</h2>
            </div>
            <div class="data" id="DECLARATION">
                <p>I hereby declare that the details above are true and correct to the best of my knowledge.
                </p>
            </div>
        </div>
    </div>
</body>

</html>