<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo_Album_Gallery</title>
</head>
    <style>
       .images ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .images li {
            display: inline-block;
        }
        img {
            width: 100%;
            height: auto;
        }
    </style>

    <body>
        <div class="images">
            <ul>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\1-copy6" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\ad2.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\adam-4.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\Adams-Peak-1.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\ayur1.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\adaraKanda1.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\biker.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\galagama-ella.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\image6.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\image0.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\image2.jpg" alt="Image Not Found"></li>
                <li><img src="C:\Users\rounak.koushal\Desktop\git hub rxteam\2733-rounak.K-Feb23Dotnet\Angular\Day8\Assignments\Assignment1\Source\assignment\src\app\css\day2\css-day2-assignment\css-day2-assignment2\images\image23-1.jpg" alt="Image Not Found" ></li>
            </ul>
        </div>
    </body>
</html>
