<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <h3>To Find Area Of Circle </h3>
  <label for="" class="form-label fs-3">Enter Radius :</label>
  <input type="text" name="" id="radius"><br>
  <label for="" class="form-label fs-3">Enter Unit :</label>
  <select id="unit">
    <option value="mm">Millimeter (mm)</option>
    <option value="cm">Centimeter (cm)</option>
    <option value="inch">Inches (inch)</option>
    <option value="feet">Foot (feet)</option>
    <option value="m">Meter (m)</option>
    <option value="km">Kilometer (km)</option>
  </select>
  <button type="button" class="btn btn-outline-primary" onclick="area()" value="Submit">Submit</button>
  <p id="result" class="form-label fs-3"></p>
  <script>

    function getResult(result) {
      let unit = document.getElementById("unit").value;
      document.getElementById("result").innerHTML = ("Area of Circle : ") + result + unit;
      document.getElementById("result").style = ("color:Green");
    }
    function area() {
      let r = document.getElementById("radius").value;
      if (r.length == " ") {
        document.getElementById("result").innerHTML = ("Enter Radius!!!");
        document.getElementById("result").style = ("color:red");

      }
      else if (isNaN(r)) {
        document.getElementById("result").innerHTML = ("You Entered ' " + r + " '...! \nThis is not a valid number");
        document.getElementById("result").style = ("color:red");
      }
      else {
        getResult(3.14 * r * r);
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>