<div class="container">

    <div class="row">
       <div class="col-2 text-center">
   
           <ul class="nav flex-column ">
               
               <li class="nav-item h4" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" >
                   <a class="nav-link " [routerLink]="['./htmlday1assignment_Assignment1']"  aria-current="page">Assignment 1</a>
                 </li>
                 <li class="nav-item h4" [routerLinkActive]="'active'">
                   <a class="nav-link " [routerLink]="['./htmlday1assignment_Assignment2']"  aria-current="page">Assignment 2</a>
                 </li>
                 <li>
                    <button data-text="Awesome" class="button" (click)="onclick()">
                    <span class="actual-text">&nbsp;Back&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Back&nbsp;</span>
                </button>
                              </li>
              
           </ul>
       </div>
       <div class="col-10">
           <router-outlet></router-outlet>
       </div>
    </div>
   </div>