<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <label for="">Rectangle Length</label>
    <input type="text" name="" id="length"><br>

    <label for="">Rectangle Breadth</label>
    <input type="text" name="" id="breadth"><br>

    <button type="button" onclick="area()">Submit</button>

    <p id="result"></p>
                                                                                                                                                                                
    <script>
        function area() {
            var length = document.getElementById("length").value;
            var breadth = document.getElementById("breadth").value;

            const result = new Function('length', 'breadth', 'return length*breadth');
            document.getElementById("result").innerHTML = (" Area of rectangle :" + result(length, breadth));
        }
    </script>
</body>

</html>